<div class="container">
<ul>
  <li>
    This test consists of two sections: (1) a multiple-choice question section and (2) a
constructed-response assignment section. Each question in the first section is a
multiple-choice question with four answer choices. Read each question and answer
choice carefully and choose the ONE best answer.
  </li>
  <li>
    Try to answer all questions. In general, if you have some knowledge about a question, it
is better to try to answer it. You will not be penalized for guessing.
  </li>
<li>
  You may NOT use a calculator or reference materials during the testing session.
</li>
</ul>

<button type="button" class="btn btn-info" (click)="onAgree()">I,Agree</button>
<button type="button" class="btn btn-info" (click)="DontAgree()">Don't Agree</button>

</div>

